@import "tailwindcss";

#root {
  display: grid;
  min-height: 100dvh;
  min-width: 100%;
  grid-template-rows: auto 1fr;
}
:root {
  --pink-border-default: #fda5d5;
}


/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .8em 1em;
}
nav {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
  gap: .8em;
}

.stylePad {
  padding: .5rem;
  margin: .5rem;
}

.linkNavBar {
  background-color: var(--pink-border-default);
  border-radius: 1.5rem;
  padding: .5rem;
}
.linkNavBar:hover {
  background-color: #d863a3;
}
@media only screen and (max-device-width: 430px) {
  header {
    justify-content: center;
    gap: 1rem;
  }
  nav {
    justify-content: center;
    align-items: center;
  }
}

