@import "tailwindcss";

@theme {
  --color-rosadefault: #fda5d5;
  --breakpoint-customMobile: 400px;
}
#root {
  display: grid;
  min-height: 100dvh;
  min-width: 100%;
  grid-template-rows: auto 1fr;
}
:root {
  --cssrosadefault: #fda5d5;
}

.stylePad {
  padding: .5rem;
  margin: .5rem;
}

.linkNavBar {
  background-color: var(--color-pink-300);
  border-radius: 1.5rem;
  padding: .5rem;
}
.linkNavBar:hover {
  background-color: var(--cssrosadefault);
}

.btnStyle {
  padding: 1rem;
  margin: 1rem
}



@media only screen and (max-device-width: 430px) {
  header {
    justify-content: center;
    gap: 1rem;
  }
  nav {
    justify-content: center;
    align-items: center;
  }
  
}

@layer utilities {
  .btn {
    @apply bg-rosadefault px-4 py-2 rounded-4xl;
  }
  
}

/* .btn {
  background-color: #2b7fff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
} */
 

