@import "tailwindcss";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  display: grid;
  min-height: 100dvh;
  min-width: 100%;
  grid-template-rows: auto 1fr;
}
main {
    border: .5px solid #aa0000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em 1em;
}
nav {
  display: flex;
  flex-wrap: wrap;
  gap: .8em;
  align-items: flex-end;
}
.linkNavBar {
  background-color: #fda5d5;
  border-radius: 1.5rem;
  padding: .5rem;
}