@import "tailwindcss";

@theme {
  --color-rosadefault: #fda5d5;
  --breakpoint-customMobile: 400px;
}
#root {
  display: grid;
  min-height: 100dvh;
  min-width: 100%;
  grid-template-rows: auto 1fr;
}
:root {
  --cssrosadefault: #fda5d5;
}

.stylePad {
  padding: .5rem;
  margin: .5rem;
}

.linkNavBar {
<<<<<<< HEAD
  background-color: var(--cssrosadefault);
=======
  background-color: var(--color-pink-300);
>>>>>>> 3187bee853a0995405439c6bd259d67c8266b75a
  border-radius: 1.5rem;
  padding: .5rem;
}
.linkNavBar:hover {
<<<<<<< HEAD
  background-color: var(--color-pink-500);
=======
  background-color: var(--cssrosadefault);
>>>>>>> 3187bee853a0995405439c6bd259d67c8266b75a
}

.btnStyle {
  padding: 1rem;
  margin: 1rem
}


<<<<<<< HEAD
=======

>>>>>>> 3187bee853a0995405439c6bd259d67c8266b75a
@media only screen and (max-device-width: 430px) {
  header {
    justify-content: center;
    gap: 1rem;
  }
  nav {
    justify-content: center;
    align-items: center;
  }
  
}

<<<<<<< HEAD
=======
@layer utilities {
  .btn {
    @apply bg-rosadefault px-4 py-2 rounded-4xl;
  }
  
}
>>>>>>> 3187bee853a0995405439c6bd259d67c8266b75a


 

