@import "tailwindcss";

#root {
  display: grid;
  min-height: 100dvh;
  min-width: 100%;
  grid-template-rows: auto 1fr;
}
:root {
  --cssrosadefault: #fda5d5;
}

.stylePad {
  padding: .5rem;
  margin: .5rem;
}

.linkNavBar {
  background-color: var(--cssrosadefault);
  border-radius: 1.5rem;
  padding: .5rem;
}
.linkNavBar:hover {
  background-color: var(--color-pink-500);
}

.btnStyle {
  padding: 1rem;
  margin: 1rem
}


@media only screen and (max-device-width: 430px) {
  header {
    justify-content: center;
    gap: 1rem;
  }
  nav {
    justify-content: center;
    align-items: center;
  }
  
}



 

