@import "tailwindcss";

#root {
  display: grid;
  min-height: 100dvh;
  min-width: 100%;
  grid-template-rows: auto 1fr;
}
:root {
  --cssrosadefault: #fda5d5;
}

@theme {
  --color-rosadefault: var(--cssrosadefault);
  --breakpoint-customMobile: 400px;
}
.linkNavBar {
  @apply bg-rosadefault hover:bg-pink-500 rounded-3xl p-1
}
@media only screen and (max-device-width: var(--breakpoint-customMobile)) {
  header {
    justify-content: center;
    gap: 1rem;
  }
  nav {
    justify-content: center;
    align-items: center;
  }
}

.detailsButton {
  @apply bg-green-300 hover:bg-green-400 rounded p-2 
}

.pageButton {
  @apply bg-gray-200 rounded disabled:opacity-50 shadow-2xs hover:shadow-2xl hover:shadow-zinc-500 hover:scale-105 hover:bg-gray-400
}
/* 
.updateButton {
@apply 
}
 */
/*  
.dangerButton {
@apply
} */

/* 
.blueButton {
@apply
} */
 

